<h2><strong>Esame di {{ @nome }} del {{ @fattoil }}</strong></h2>
<p>Ogni corretta: +{{ @ricavo_corrette }} | Ogni sbagliata: -{{ @costo_sbagliate }}<br>
Risposte corrette: {{ @corrette }}<br>
Risposte sbagliate: {{ @sbagliate }}</p>
<h3><strong>Voto finale: {{ @votazione }}</strong></h3>
<hr>
<h4>Domande e risposte</h4>
<table>
    <repeat group="{{ @domande }}" value="{{ @d }}">
        <tr>
            <td>#{{ @d.numero }}</td>
            <td>D: <strong>{{ @d.domanda }}?</strong></td>
        </tr>
        <tr>
            <td></td>
            <check if="{{ @d.risposta0!='-' }}">
                <true>
            <check if="{{ @d.risposta0==@d.risposta_corretta }}">
                <true>
                    <check if="{{ @d.risposta0==@d.risposta }}">
                        <true>
                            <td class="bg-success">R: {{ @d.risposta0 }}</td>
                        </true>
                        <false>
                            <td class="bg-success">R: {{ @d.risposta0 }}</td>
                        </false>
                    </check>
                </true>
                <false>
                    <check if="{{ @d.risposta0==@d.risposta }}">
                        <true>
                            <td class="bg-danger">R: {{ @d.risposta0 }}</td>
                        </true>
                        <false>
                            <td>R: {{ @d.risposta0 }}</td>
                        </false>
                    </check>
                </false>
            </check>
        </true>
    </check>     
        </tr>
        <tr>
            <td></td>
            <check if="{{ @d.risposta1!='-' }}">
                <true>
            <check if="{{ @d.risposta1==@d.risposta_corretta }}">
                <true>
                    <check if="{{ @d.risposta1==@d.risposta }}">
                        <true>
                            <td class="bg-success">R: {{ @d.risposta1 }}</td>
                        </true>
                        <false>
                            <td class="bg-success">R: {{ @d.risposta1 }}</td>
                        </false>
                    </check>
                </true>
                <false>
                    <check if="{{ @d.risposta1==@d.risposta }}">
                        <true>
                            <td class="bg-danger">R: {{ @d.risposta1 }}</td>
                        </true>
                        <false>
                            <td>R: {{ @d.risposta1 }}</td>
                        </false>
                    </check>
                </false>
            </check>
        </true>
    </check> 
        </tr>
        <tr>
            <td></td>
            <check if="{{ @d.risposta2!='-' }}">
                <true>
            <check if="{{ @d.risposta2==@d.risposta_corretta }}">
                <true>
                    <check if="{{ @d.risposta2==@d.risposta }}">
                        <true>
                            <td class="bg-success">R: {{ @d.risposta2 }}</td>
                        </true>
                        <false>
                            <td class="bg-success">R: {{ @d.risposta2 }}</td>
                        </false>
                    </check>
                </true>
                <false>
                    <check if="{{ @d.risposta2==@d.risposta }}">
                        <true>
                            <td class="bg-danger">R: {{ @d.risposta2 }}</td>
                        </true>
                        <false>
                            <td>R: {{ @d.risposta2 }}</td>
                        </false>
                    </check>
                </false>
            </check>
        </true>
    </check> 
        </tr>
        <tr>
            <td></td>
            <check if="{{ @d.risposta3!='-' }}">
                <true>
            <check if="{{ @d.risposta3==@d.risposta_corretta }}">
                <true>
                    <check if="{{ @d.risposta3==@d.risposta }}">
                        <true>
                            <td class="bg-success">R: {{ @d.risposta3 }}</td>
                        </true>
                        <false>
                            <td class="bg-success">R: {{ @d.risposta3 }}</td>
                        </false>
                    </check>
                </true>
                <false>
                    <check if="{{ @d.risposta3==@d.risposta }}">
                        <true>
                            <td class="bg-danger">R: {{ @d.risposta3 }}</td>
                        </true>
                        <false>
                            <td>R: {{ @d.risposta3 }}</td>
                        </false>
                    </check>
                </false>
            </check>
        </true>
    </check> 
        </tr>
        <tr>
            <td></td>
            <td>{{ @d.verifica }}</td>
        </tr>
    </repeat>
</table>
